@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;1,200;1,400&display=swap');

/*
 * font-family: 'Kaushan Script', cursive;
 * font-family: 'Poppins', sans-serif;
 */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --hue: 228;
  --color-body: hsl(var(--hue), 100%, 4%);
  --color-body-two: hsl(46, 100%, 50%);
  --color-body-three: hsl(65, 100%, 67%);
  --color-fonts: hsl(var(--hue), 100%, 100%);
  --color-fonts-black: hsl(88, 100%, 0%);
}

body {
  /*background-color: var(--color-body);*/
  background-image: linear-gradient(to right, var(--color-body-three), var(--color-body-two));
}

/* header format */
h1 {
  color: var(--color-fonts-black);
  font-family: 'Kaushan Script', cursive;
  font-family: 'Poppins', sans-serif;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

.navbar-container ul {
  display: flex;
  list-style-type: none;
  gap: 2rem;
}

a {
  color: var(--color-fonts-black);
  text-decoration: none;
  font-family: 'Kaushan Script', cursive;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}

#aProdutos {
  transform: rotate(0deg);
}

#aServicos {
  transform: rotate(0deg);
}

#aInstitucional {
  transform: rotate(0deg);
}

#aGaleria {
  transform: rotate(0deg);
}

#aContatos {
  transform: rotate(0deg);
}

.dv-line {
  border-bottom: 1px solid red;
  margin: 2rem;
}

/* main format */
.main-container {
  padding: 1rem;
  display: flex;
}

.cardMain {
  color: var(--color-fonts-black);
  font-family: 'Kaushan Script', cursive;
  font-family: 'Poppins', sans-serif;
}

.cards {
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

/* footer format */
#footerCard {
  text-align: center;
  color: var(--color-fonts-black);
  font-family: 'Kaushan Script', cursive;
  font-family: 'Poppins', sans-serif;
}